# R 程式設計

> 資料結構

[數據交點](https://www.datainpoint.com/) | 郭耀仁 <yaojenkuo@datainpoint.com>

## 自訂一個函數 `taipei_zipcode` 輸出一個長度為 12 的有命名 `list`。

- 預期輸入：無
- 預期輸出：一個 `list`

In [1]:
taipei_zipcode <- function() {
    # tpe_zipcodes <- taipei_zipcode()
    # class(tpe_zipcodes)
    # list
    # length(tpe_zipcodes)
    # 12
    # tpe_zipcodes[['100']]
    # '中正區'
    # tpe_zipcodes[['103']]
    # '大同區'
    # tpe_zipcodes[['104']]
    # '中山區'
    # tpe_zipcodes[['114']]
    # '內湖區'
    # tpe_zipcodes[['115']]
    # '南港區'
    # tpe_zipcodes[['116']]
    # '文山區'
    ### BEGIN SOLUTION
    return(
        list(
            '100'='中正區',
            '103'='大同區',
            '104'='中山區',
            '105'='松山區',
            '106'='大安區',
            '108'='萬華區',
            '110'='信義區',
            '111'='士林區',
            '112'='北投區',
            '114'='內湖區',
            '115'='南港區',
            '116'='文山區'
        )
    )
    ### END SOLUTION
}

## 自訂一個函數 `all_time_greats` 輸出一個長度為 5 的有命名 `list`。

- 預期輸入：無
- 預期輸出：一個 `list`

In [2]:
all_time_greats <- function() {
    # my_all_time_greats <- all_time_greats()
    # class(my_all_time_greats)
    # list
    # length(my_all_time_greats)
    # 5
    # my_all_time_greats[['PG']]
    # 'Steve Nash'
    # my_all_time_greats[['SG']]
    # 'Michael Jordan'
    # my_all_time_greats[['SF']]
    # 'Dirk Nowitzki'
    # my_all_time_greats[['PF']]
    # 'Kevin Garnett'
    # my_all_time_greats[['C']]
    # 'Hakeem Olajuwon'
    ### BEGIN SOLUTION
    return(
        list(
            PG='Steve Nash',
            SG='Michael Jordan',
            SF='Dirk Nowitzki',
            PF='Kevin Garnett',
            C='Hakeem Olajuwon'
        )
    )
    ### END SOLUTION
}

## 自訂一個函數 `lord_of_the_rings` 輸出一個長度為 4 的有命名 `list`。

- 預期輸入：無
- 預期輸出：一個 `list`

In [3]:
lord_of_the_rings <- function() {
    # lord_of_the_rings_list <- lord_of_the_rings()
    # class(lord_of_the_rings_list)
    # list
    # length(lord_of_the_rings_list)
    # 4
    # print(lord_of_the_rings()[['director']])
    # [1] "Peter Jackson"
    # print(lord_of_the_rings()[['episodes']])
    # [1] "The Fellowship of the Ring" "The Two Towers"            
    # [3] "The Return of the King"    
    # print(lord_of_the_rings()[['year_of_release']])
    # $`The Fellowship of the Ring`
    # [1] 2001

    # $`The Two Towers`
    # [1] 2002

    # $`The Return of the King`
    # [1] 2003
    # print(lord_of_the_rings()[['rating']])
    # $`The Fellowship of the Ring`
    # [1] 8.8

    # $`The Two Towers`
    # [1] 8.7

    # $`The Return of the King`
    # [1] 8.9
    ### BEGIN SOLUTION
    year_of_release = list(
        'The Fellowship of the Ring'=2001,
        'The Two Towers'=2002,
        'The Return of the King'=2003
    )
    rating = list(
        'The Fellowship of the Ring'=8.8,
        'The Two Towers'=8.7,
        'The Return of the King'=8.9
    )
    return(
        list(
            'director' = 'Peter Jackson',
            'episodes' = c('The Fellowship of the Ring', 'The Two Towers', 'The Return of the King'),
            'year_of_release' = year_of_release,
            'rating' = rating
        )
    )
    ### END SOLUTION
}

## 自訂一個函數 `batman_trilogy` 輸出一個外觀為 `3 x 4` 的 `data.frame`。

- 預期輸入：無
- 預期輸出：一個 `3 x 4` 的 `data.frame`

In [4]:
batman_trilogy <- function() {
    # batman_trilogy_df <- batman_trilogy()
    # class(batman_trilogy_df)
    # data.frame
    # nrows(batman_trilogy_df)
    # 3
    # ncols(batman_trilogy_df)
    # 4
    # print(batman_trilogy_df)
    #  episode                 title year rating
    #1       1         Batman Begins 2005    8.2
    #2       2       The Dark Knight 2008    9.0
    #3       3 The Dark Knight Rises 2012    8.4
    ### BEGIN SOLUTION
    episodes <- 1:3
    titles <- c('Batman Begins', 'The Dark Knight', "The Dark Knight Rises")
    years <- c(2005, 2008, 2012)
    ratings <- c(8.2, 9.0, 8.4)
    return(
        data.frame(episode=episodes, title=titles, year=years, rating=ratings)
    )
    ### END SOLUTION
}

## 自訂一個函數 `top_rated_movies` 輸出一個外觀為 `5 x 3` 的 `data.frame`。

- 預期輸入：無
- 預期輸出：一個 `5 x 3` 的 `data.frame`

In [5]:
top_rated_movies <- function() {
    # top_rated_movies_df <- top_rated_movies()
    # class(top_rated_movies_df)
    # data.frame
    # nrows(top_rated_movies_df)
    # 5
    # ncols(top_rated_movies_df)
    # 3
    # print(top_rated_movies_df)
    #                     title year rating
    #1 The Shawshank Redemption 1994    9.2
    #2          The Dark Knight 2008    9.0
    #3         Schindler's List 1993    8.9
    #4             Forrest Gump 1994    8.8
    #5                Inception 2010    8.7
    ### BEGIN SOLUTION
    titles <- c('The Shawshank Redemption', 'The Dark Knight', "Schindler's List", 'Forrest Gump', 'Inception')
    years <- c(1994, 2008, 1993, 1994, 2010)
    ratings <- c(9.2, 9.0, 8.9, 8.8, 8.7)
    return(
        data.frame(title=titles, year=years, rating=ratings)
    )
    ### END SOLUTION
}

## 執行測試

Kernel -> Restart & Run All.

In [6]:
library(testthat)

test_taipei_zipcode <- tryCatch({
    test_that("test_taipei_zipcode", {
        expect_type(taipei_zipcode(), 'list')
        expect_equal(length(taipei_zipcode()), 12)
        expect_equal(taipei_zipcode()[['100']], '中正區')
        expect_equal(taipei_zipcode()[['103']], '大同區')
        expect_equal(taipei_zipcode()[['104']], '中山區')
        expect_equal(taipei_zipcode()[['114']], '內湖區')
        expect_equal(taipei_zipcode()[['115']], '南港區')
        expect_equal(taipei_zipcode()[['116']], '文山區')
    })
    }, error = function(e) {
        FALSE
})
test_all_time_greats <- tryCatch({
    test_that("test_all_time_greats", {
        expect_type(all_time_greats(), 'list')
        expect_equal(length(all_time_greats()), 5)
        expect_equal(all_time_greats()[['PG']], 'Steve Nash')
        expect_equal(all_time_greats()[['SG']], 'Michael Jordan')
        expect_equal(all_time_greats()[['SF']], 'Dirk Nowitzki')
        expect_equal(all_time_greats()[['PF']], 'Kevin Garnett')
        expect_equal(all_time_greats()[['C']], 'Hakeem Olajuwon')
    })
    }, error = function(e) {
        FALSE
})
test_lord_of_the_rings <- tryCatch({
    test_that("test_lord_of_the_rings", {
        expect_type(lord_of_the_rings(), 'list')
        expect_equal(length(lord_of_the_rings()), 4)
        expect_equal(lord_of_the_rings()[['director']], 'Peter Jackson')
        expect_equal(lord_of_the_rings()[['episodes']], c('The Fellowship of the Ring', 'The Two Towers', 'The Return of the King'))
        expect_equal(lord_of_the_rings()[['year_of_release']][['The Return of the King']], 2003)
        expect_equal(lord_of_the_rings()[['rating']][['The Return of the King']], 8.9)
    })
    }, error = function(e) {
        FALSE
})
test_top_rated_movies <- tryCatch({
    test_that("test_top_rated_movies", {
        expect_s3_class(top_rated_movies(), "data.frame")
        expect_equal(nrow(top_rated_movies()), 5)
        expect_equal(ncol(top_rated_movies()), 3)
        expect_equal(max(top_rated_movies()[['rating']]), 9.2)
        expect_equal(min(top_rated_movies()[['rating']]), 8.7)
        expect_equal(max(top_rated_movies()[['year']]), 2010)
        expect_equal(min(top_rated_movies()[['year']]), 1993)
    })
    }, error = function(e) {
        FALSE
})
test_batman_trilogy <- tryCatch({
    test_that("test_batman_trilogy", {
        expect_s3_class(batman_trilogy(), "data.frame")
        expect_equal(nrow(batman_trilogy()), 3)
        expect_equal(ncol(batman_trilogy()), 4)
        expect_equal(max(batman_trilogy()[['rating']]), 9.0)
        expect_equal(min(batman_trilogy()[['rating']]), 8.2)
        expect_equal(max(batman_trilogy()[['year']]), 2012)
        expect_equal(min(batman_trilogy()[['year']]), 2005)
    })
    }, error = function(e) {
        FALSE
})

Test passed 🎉
Test passed 🎊
Test passed 🌈
Test passed 🎊
Test passed 😸

In [7]:
all_tests <- c(test_taipei_zipcode, test_all_time_greats, test_lord_of_the_rings, test_batman_trilogy, test_top_rated_movies)
passed_tests <- sum(all_tests)
sprintf("在 %s 題中，您總共答對了 %s 題。", length(all_tests), passed_tests)

[1] "在 5 題中，您總共答對了 5 題。"